<div class="call-to-action-strip">
  <div class="container">
    <div class="cta-section demo">
      <a class="demo__btn" href="/book-a-demo/">Schedule a Demo</a>
      <p>See how a Geckoboard dashboard can transform your business</p>
    </div>
    <div class="cta-section">
      <a class="cta__btn" href="/try-geckoboard/">Try Geckoboard</a>
      <p>Start building your first dashboard - no credit card required.</p>
    </div>
  </div>
</div>
<div class="learn-dashboarding">
  <div class="container">
    <h2 class="section-heading">Learn about Dashboarding</h2>
    <div class="col-1-2">
      <div class="col-1">
        <ul>
          <li><a href="/learn/what-is-a-key-performance-indicator-kpi/" title="What is a Key Performance Indicator (KPI)?">What is a KPI?</a></li>
          <li><a href="/learn/what-is-a-data-dashboard/" title="Introduction to data dashboards">What is a data dashboard?</a></li>
          <li><a href="/learn/guides/data-dashboards-best-practices/" title="Learn best practices for designing a useful dashboard">Data Dashboards: Best Practices</a></li>
        </ul>
      </div>
      <div class="col-1">
        <ul>
          <li><a href="/learn/marketing-data-dashboard/" title="Introduction to Marketing dashboards">Marketing KPI dashboards</a></li>
          <li><a href="/learn/interviews/how-to-use-dashboards" title="How to start using dashboards in your business">Video: How to use Dashboards</a></li>
          <li><a href="/learn/guides/displaying-your-dashboard-on-a-screen/" title="Dispaying your dashboard on a wall-mounted screen">Display your dashboard on a screen</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
