<link rel="dns-prefetch" href="//s7.addthis.com">
<link rel="dns-prefetch" href="//ssl.google-analytics.com">
<link rel="dns-prefetch" href="//cdn.segment.com">
<link rel="dns-prefetch" href="//www.googletagmanager.com">
<link rel="dns-prefetch" href="//api.mixpanel.com">
<link rel="dns-prefetch" href="//api.segment.io">
<link rel="dns-prefetch" href="//stats.g.doubleclick.net">
<link rel="dns-prefetch" href="//m.addthis.com">
<link rel="dns-prefetch" href="//www.google.com">
<link rel="dns-prefetch" href="//connect.facebook.net">
<link rel="dns-prefetch" href="//www.facebook.com">
