<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience.","dismiss":" ","learnMore":"More info","link":"/legal","theme":"/assets/css/dark-top.css"};
</script>
<header class="page-head blog">
  <div class="navigation animated">
    <div class="container">
      <a href="/" title="KPI dashboards for data-driven businesses" class="logo">Geckoboard</a>
        <div class="menu-btn" id="js-menu-btn">
          <div class="menu-btn-inner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <nav class="page-head__nav hidden" data-state="closed" id="js-main-nav">
        <ul>
          <li>
            <a href="/blog/topics/secrets-for-scaling/" title="Listen to Secrets for Scaling">{{site.pages['blog'].meta['BlogNavPodcastTitle']}}</a>
          </li>
          <li>
            <a target="_blank" class="newsletter-signup modal-show" title="Sign up to our Newsletter">{{site.pages['blog'].meta['BlogNavNewsletterTitle']}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
