<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience.","dismiss":" ","learnMore":"More info","link":"/legal","theme":"/assets/css/dark-top.css"};
</script>
<header class="page-head-mini">
  <div class="container">
    <a href="/" title="KPI dashboards for data-driven businesses" class="logo-mini"></a>
    <div class="back-home-bg">
      <a href="/" class="back-home">Back to Geckoboard.com</a>
    </div>
  </div>
</header>
