  <div class="learn-nav__container">
    <div class="dropdown-wrap">
      <a class="dropdown" id="dropdown-learn" tabindex="1">Categories<div class="nav__down-arrow"></div></a>
    </div>
    <nav class="learn-nav" id="learn-nav-hideable">
      <ul class="learn-nav-main">
        <li class="search-tab">
          <form id="search-form">
            <input type="text" name="search" placeholder="Search" id="search-input">
          </form>
        </li>
        {% for subpage in site.pages['learn'].pages %}
        <li>
          {% comment %}
            We need to compare the current url with these subpages
            if they match then we know the subpage is a parent and
            we can give it an active state.
          {% endcomment %}
          {% assign segments = url | split: '/' %}
          {% assign urlStart = '/' | append: segments[1] | append: '/' | append: segments[2] %}
          {% if urlStart == subpage.url %}
            {% assign stateClass = "active" %}
          {% else %}
            {% assign stateClass = "inactive" %}
          {% endif %}
          <a class="{{stateClass}}" data-slug="{{subpage.slug}}" href="{{subpage.url}}/">{{subpage.title}}</a>

          {% assign sorted_pages = parent.parent.pages | sort:"title" %}
          <nav class="{{stateClass}} learn-snav-wrapper overflow">
            <ul class="{{stateClass}} learn-nav-sub">
              {% for page in sorted_pages | sort:"title" %}
              <li class="pages">
                <a href="{{page.url}}/" {% if page.url == parent.url %} class="active"{% endif %} title="{{page.title}}">{{page.title | replace:'example',''}}</a>
                <ul {% if page.url == parent.url %} class="active learn-nav-sub inner"{% else %} class="inactive learn-nav-sub inner"{% endif %}>
                  {% assign sorted = parent.posts | sort:"title" %}
                  {% for post in sorted %}
                  <li class="pages">
                    <a href="{{post.url}}/" {% if post.url == url %} class="active"{% endif %} title="{{post.title}}">{{post.title | replace:'example',''}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </li>
      {% endfor %}
    </ul>
    <ul class="learn-nav-main">
      <li>
        <a class="support-tab" href="https://community.geckoboard.com">Developer Community</a>
      </li>
      <li class="support-tab">
          <a href="http://support.geckoboard.com">Help &amp; Support</a>
      </li>
    </ul>
  </nav>
</div>
<script>
  $(function() {
    $("#dropdown-learn").click(function() {
      $("#learn-nav-hideable").toggleClass("active");
    });
  });
</script>
{% capture navscripts %}
{% endcapture %}
{% assign extrascripts = extrascripts | append: navscripts %}
