<ul class="pricing-table">
  <li class="starter">
    <div class="pricing-table__item-head">
      <h2 class="pricing-table__title">Starter</h2>
    </div>
    <div class="pricing-table__price starterprice">
      <div class="pricing-table__price-wrapper">
        <span class="unit">$</span>
        <span class="amount starter" id="starter-price">25</span>
        <span class="billing-type">/ Mo</span>
      </div>
    </div>
    <ul class="pricing-table__plan-details highlight">
      <li class="plan-item">
        <div class="plan-item-inner" data-tooltip-index="dashboard">
          <span>1 Dashboard</span>
        </div>
      </li>
      <li class="plan-item">
        <div class="plan-item-inner" data-tooltip-index="user">
          <span>1 User</span>
        </div>
      </li>
    </ul>
  </li>
  <li class="team">
    <div class="pricing-table__item-head">
      <span class="pricing-table__item-title">Most Popular</span>
      <h2 class="pricing-table__title">Growth</h2>
    </div>
    <div class="pricing-table__price growthprice">
      <div class="pricing-table__price-wrapper">
        <span class="unit">$</span>
        <span class="amount" id="growth-price">149</span>
        <span class="billing-type">/ Mo</span>
      </div>
    </div>
    <ul class="pricing-table__plan-details highlight">
      <li class="plan-item">
        <div class="plan-item-inner" data-tooltip-index="dashboard">
          <span>5 Dashboards</span>
        </div>
      </li>
      <li class="plan-item">
        <div class="plan-item-inner" data-tooltip-index="user">
          <span>Unlimited Users</span>
        </div>
      </li>
    </ul>
  </li>
  <li class="company">
    <div class="pricing-table__item-head">
      <h2 class="pricing-table__title">Company</h2>
    </div>
    <div class="pricing-table__price companyprice">
      <div class="pricing-table__price-wrapper">
        <span class="unit">$</span>
        <span class="amount" id="company-price">599</span>
        <span class="billing-type">/ Mo</span>
      </div>
    </div>
    <ul class="pricing-table__plan-details highlight">
      <li class="plan-item">
        <div class="plan-item-inner" data-tooltip-index="dashboard">
          <span>Unlimited Dashboards</span>
        </div>
      </li>
      <li class="plan-item">
        <div class="plan-item-inner" data-tooltip-index="user">
          <span>Unlimited Users</span>
        </div>
      </li>
    </ul>
  </li>
</ul>