<div class="support-bubbles default-grid__col">
  <ul class="default-grid__list col-8">
    <li>
      <div class="img-block">
        <img alt="Hariharan Customer Success Avatar" src="/assets/img/hariharan.jpg">
      </div>
      <div class="info-block">
        <h2>Hariharan</h2>
        <span>India</span>
      </div>
    </li>
    <li>
      <div class="img-block">
        <img alt="Jason Customer Success Avatar" src="/assets/img/jason.jpg">
      </div>
      <div class="info-block">
        <h2>Jason</h2>
        <span>USA</span>
      </div>
    </li>
    <li>
      <div class="img-block">
        <img alt="Javier Customer Success Avatar" src="/assets/img/javier.jpg">
      </div>
      <div class="info-block">
        <h2>Javier</h2>
        <span>UK</span>
      </div>
    </li>
    <li>
      <div class="img-block">
        <img alt="Kev Customer Success Avatar" src="/assets/img/kev.jpg">
      </div>
      <div class="info-block">
        <h2>Kev</h2>
        <span>USA</span>
      </div>
    </li>
    <li>
      <div class="img-block">
        <img alt="Luis Customer Success Avatar" src="/assets/img/luis.jpg">
      </div>
      <div class="info-block">
        <h2>Luis</h2>
        <span>UK</span>
      </div>
    </li>
    <li>
      <div class="img-block">
        <img alt="Thomas Customer Success Avatar" src="/assets/img/thomas.jpg">
      </div>
      <div class="info-block">
        <h2>Thomas</h2>
        <span>USA</span>
      </div>
    </li>
    <li>
      <div class="img-block">
        <img alt="Heather Customer Success Avatar" src="/assets/img/heather.jpg">
      </div>
      <div class="info-block">
        <h2>Heather</h2>
        <span>USA</span>
      </div>
    </li>
    <li>
      <div class="img-block">
        <img alt="Kat Customer Success Avatar" src="/assets/img/kat.jpg">
      </div>
      <div class="info-block">
        <h2>Kat</h2>
        <span>USA</span>
      </div>
    </li>
  </ul>
</div>
