// Colors
// ------

$color--white: #FFFFFF;
$color--gray: #3d4351;
$color--mid-gray: #9da0a7;
$color--light-gray: #f9f9f9;
$color--blue-gray: #f5f7f9;
$color--body-gray: #6b6f78;
$color--background-gray: #5C6B78;
$color--black: #3d4351;

$color--electric-blue: #5A7CCC;
$color--green: #8dc63f;
$color--dark-blue: #3c4954;

$color--facebook: #3b5998 !default;
$color--twitter: #55acee !default;
$color--linkedin: #0077b5 !default;
$color--buffer: #323b43 !default;
$color--intercom: #1f8ceb !default;
$color--hubspot: #f7751f !default;
$color--google: #4285f4 !default;
$color--pocket: #F23B51 !default;

// Typography
// ----------

$line-height--tighter: 1;
$line-height--tight: 1.16;
$line-height--base: 1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight: -0.018em;
$letter-spacing--looser: 0.15em;
$letter-spacing--loose: 0.018em;

// Miscellaneous
// -------------

// Transitions
// -------------

$primary-transition: all .35s cubic-bezier(.39, .575, .565, 1);