@font-face {
  font-family: 'ChaparralPro-Regular';
  src: 
  url('../fonts/ChaparralPro-Regular.woff2') format('woff2'), 
  url('../fonts/ChaparralPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonText-Medium';
  src: 
  url('../fonts/BrandonText-Medium.woff2') format('woff2'), 
  url('../fonts/BrandonText-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}