@import "compass/css3/flexbox";

.page-head-mini {
  .container {
    max-width: 80em;
    padding: 0;
    display: table;
    width: 100%;

    @include mq($medium) {
      padding: .75em 2em;
    }
  }

  .logo-mini {
    @extend %logo;
    width: 200px;
    height: 33px;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
    display: block;
    margin: 1em auto;
    opacity: 1;

    @include mq($medium) {
      display: inline-block;
      margin: 0;
    }

    &:hover {
      opacity: .8;
    }
  }

  .back-home-bg {
    background-color: rgba(0,0,0,.1);

    @include mq($medium) {
      background-color: rgba(0,0,0,0);
      display: inline-block;
      float: right;
      margin-top: 5px;
    }
  }

  .back-home {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    font-family: $default-sans;
    @include font-size(13px);
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 500;
    padding: 1em 0;

    &:hover {
      opacity: .7;
    }

    @include mq($medium) {
      padding: 0;
      width: auto;
      text-align: right;
    }
  }
}