%device-menu-btn-closed{
  background-image: inline-image('../svg/x.svg');
}

%device-menu-btn-open{
  background-image: inline-image('../svg/menu.svg');
}

%twitter{
  background-image: inline-image('../svg/twitter.svg');
}

%facebook{
  background-image: inline-image('../svg/facebook.svg');
}

%gplus{
  background-image: inline-image('../svg/gplus.svg');
}

%rssfeed{
  background-image: inline-image('../png/rssfeed.png');
}

%email{
  background-image: inline-image('../svg/email.svg');
}

%linkedin{
  background-image: inline-image('../svg/linkedin.svg');
}

%job{
  background-image: inline-image('../svg/arrow-down-toggle.svg');
}

%dribbble{
  background-image: inline-image('../svg/dribbble.svg');
}

%github{
  background-image: inline-image('../svg/github.svg');
}

%pocket{
  background-image: inline-image('../svg/pocket.svg');
}

%logo{
  background-image: inline-image('../svg/logo.svg');
}

%open-quote{
  background-image: inline-image('../svg/open-quote.svg');
}

%open-quote-white{
  background-image: inline-image('../svg/open-quote-white.svg');
}

%close-quote{
  background-image: inline-image('../svg/close-quote.svg');
}

%close-quote-white{
  background-image: inline-image('../svg/close-quote-white.svg');
}

%arrow{
  background-image: inline-image('../svg/arrow.svg');
}

%arrow-green-left{
  background-image: inline-image('../svg/arrow-green-left.svg');
}

%arrow-grey-left{
  background-image: inline-image('../svg/arrow-grey-left.svg');
}

%down-arrow{
  background-image: url('../svg/down-arrow.svg');
}

%left-arrow{
  background-image: url('../svg/arrow-left.svg');
}

%right-arrow{
  background-image: inline-image('../svg/arrow-right.svg');
}

%mag{
  background-image: url('../svg/mag.svg');
}

%mag-white{
  background-image: url('../svg/mag-white.svg');
}

%play{
  background-image: url('../svg/play-btn.svg');
}