---
layout: default
---

<section class="hero-container">
  <div class="hero-container__img"></div>
  <div class="hero-container__text">
    <h1 class="hero-container__main-heading">Build TV Dashboards effortlessly</h1>
    <p class="hero-container__sub-heading"><span>It takes just minutes</span> to broadcast live business metrics, KPIs and goals to your team in an easy-to-understand way.</p>
  </div>
  <div class="hero-container__dashboard">
    <img src="/assets/png/product-hero-dashboard-full.png" srcset="/assets/png/product-hero-dashboard-full@2x.png 2x" alt="Building a live metrics dashboard">
  </div>
</section>

